footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.body-login {
	display: flex;
	flex-direction: column;
}

.login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin-bottom: 1em;
}

.login {
	width: 50%;
	margin: auto;
}

.e-mail {
	background: #FFFFFF;
	border-radius: 10px;
	padding: 0.5em;
}

.footer {
	background: #FFFFFF;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.log-in {
	background: #FFFFFF;
	border-radius: 10px;
	padding: 0.5em;
}

.login h1 {
	font-size: 2em;
	margin-bottom: 1em;
}