/*  Code à nettoyer, rassembler les propriétés et les trier selon leur
ordre dans le fichier HTML, regroupements selon les parties et ajout 
commentaires sur tout le code, expliquant à chaque fois l'objectif 
des propriétés et l'organisation de la feuille selon les parties */

body {
    font-family: 'Montserrat',sans-serif;
}

body {
    background: linear-gradient(217deg, #444, #0d0d0d);
    background-attachment: fixed;
}

#part1 img {
    width: auto;
}

a {
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    color: white;
}

#part2 {
    background: linear-gradient(217deg, #fff, #d6d6d6);
    background-attachment: fixed;
}

#part3 {
    padding-top: 20vh;
    padding-bottom: 20vh;
    padding-left: 25vw;
    background: linear-gradient(217deg, #444, #0d0d0d);
    background-attachment: fixed;
}

#part4 {
    padding: 12vh 20vh 20vh 25vw;
    background: linear-gradient(217deg, #fff, #d6d6d6);
    background-attachment: fixed;
}

#part5 {
    padding-bottom: 10vh;
    color: whitesmoke;
    background: linear-gradient(217deg, #444, #0d0d0d);
    background-attachment: fixed;
}

#part6 {
    background: linear-gradient(217deg, #fff, #d6d6d6);
    background-attachment: fixed;
}

#contenuEnTete {
    margin-top: 5vw;
    margin-right: 5vw;
    padding-left: 25vw;
    color: whitesmoke;auto
}

#enTete {
    display: flex;
    font-size: small;
}

#photoMoi {
    width: 12vw;
    height: 35vh;
}

#competences1 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#competences2 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#competences3 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#introduction {
    padding-left: 2vw;
}

#coordonnees {
    margin-left: 15vw;
}

nav {
    display: flex;
    position: fixed;
    left: 0; /* Ajoutez cette ligne */
}

nav a {
    flex-grow: 1;
    height: 10vh;
    margin: 5px 5px 5px 5px;
    padding: 15px;
    border: 1px solid rgb(25,25,25);
    text-decoration: none;
    font-size: larger;
    color: black;
    background-color: white;
}

nav ul li {
    margin: 60px;
}

section {
    font-size: x-large;
}

ul {
    list-style-type: none;
}

#part3 img {
    display: block;
    width: 5vw;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50%;
}

#part3 {
    display: flex;
    margin: 50px 50px 50px 50px;
    text-align: center;
    font-size: x-small;
    color: #b9b9b9;
}

#competences1 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#competences2 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#competences3 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.lettreDeMotivation {
    text-align: left;
    font-size: large;
}

#menuLettres {
    display: flex;
    flex-direction: row;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#menuLettres li {
    flex-grow: 1;
}

#menuLettres input {
    width: 10vw;
    height: 5vh;
    color: antiquewhite;
    background-color: #2a2a2a;
}

#part5 img {
    width: 25vw;
}

#realisationTechniqueImage {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#realisationTechniqueImage h3 {
    flex: 1; /* Cela permet au texte de prendre tout l'espace disponible */
    padding-right: 5vw;
    padding-left: 25vw;
    text-align: right; /* Cela aligne le texte à droite */
}

#realisationTechniqueImage a {
    flex: 0; /* Cela empêche le lien de prendre plus d'espace que nécessaire */
}

#realisationTechniqueTexte {
    padding-top: 15vh;
    padding-left: 25vw;
}

#part6 label {
    font-size: small;
}

#part6 {
    display: flex;
}


#radiosSatisfaction img {
    width: 2vw;
}

#formulaireSatisfaction {
    display: flex;
    flex-direction: column;
    }
#formulaireMessagerie {
    display: flex;
    flex-direction: column;
    width: 30vw;
}

#radiosSatisfaction {
    display: flex;
    flex-direction: column;
    width: 30vw;
}

#blocMessagerie {
    padding-top: 40vh;
    padding-bottom: 40vh;
    padding-left: 25vw;
}

#blocSatisfaction {
    padding-top: 35vh;
}

#blocMessagerie textarea {
    height: 11vh;
}

/*frise chronologique importée*/

.history-tl-container {
    display: block;
    position: relative;
    width: 50%;
    margin: auto;
}

.history-tl-container ul.tl {
    display: inline-block;
    margin: 20px 0;
    padding: 0;
}
auto
.history-tl-container ul.tl li {
    position: relative;
    margin: auto;
    margin-left: 200px;
    padding: 0 0 50px 30px;
    min-height: 50px;
    border-left: 1px dashed #86D6FF;
    list-style: none;
}

.history-tl-container ul.tl li:last-child {
    border-left: 0;
}

.history-tl-container ul.tl li::before {
    content: " ";
    position: absolute;
    top: -5px;
    left: -18px;
    width: 20px;
    height: 20px;
    border: 8px solid rgba(255, 255, 255, 0.74);
    border-radius: 500%;
    background: #258CC7;
    transition: all 500ms ease-in-out;
}

.history-tl-container ul.tl li:hover::before {
    border-color: #258CC7;
    transition: all 1000ms ease-in-out;
}

ul.tl li .item-title {
}

ul.tl li .item-detail {
    font-size: 12px;
    color: rgba(0,0,0,0.5);auto
}

ul.tl li .timestamp {
    position: absolute;
    left: -50%;
    width: 100px;
    text-align: right;
    font-size: 12px;
    color: #8D8D8D;

}
