/*
   ###################################################################################################################
   ####### Feuille de style du portfolio de Sophie Bluel (architecte d'intérieur), communes à toutes les pages ####### 
   ################################################################################################################### 
   ###############################    Front-end du site developpé par Antoine Gauer    ###############################
   ###################################################################################################################
   ####################   Utilisation de classes BEM pour l'organisation et la stylisation des   #####################
   ####################              élements de la page (Block / Element / Modifier)            #####################
   ################################################################################################################### 
*/

/* Reset CSS code : 

   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   
*/

/* ################################################################################################################### */
/* ######################################### Définition du design system ############################################# */
/* ################################################################################################################### */

	:root {

		/* Couleurs */
		--background-color: #FFFEF8;
		--main-color: #B1663C;
		--secondary-color: #1D6154;
		--text-color: #3D3D3D;
		--link-color: #000000;
		--selected-button-background: #1D6154;
		--selected-button-color: white;
		--button-border-color: #1D6154;
		--button-background-color: white;
		--button-color: #1D6154;
		--submit-button-background-color: #1D6154;
		--submit-button-color: #FFFFFF;



		/* Tailles de police (bases de l'unité em, utilisée pour définir les dimensions et les marges / dimensions
		   conforme à la maquette Figma); toutes les dimensions des pages peuvent être modifiées en agissant uniquement-
		   sur ces valeurs (affichage modulable & dynamique) */
		--main-font-size: 14px;
		--h1-font-size: 22px;
		--h2-font-size: 30px;
		--nav-font-size: 16px;
		--category-button-font-size: 16px;
		--submit-button-font-size: 14px;

		/* Poids de police */
		--h1-font-weight: 800;
		--h2-font-weight: 700;
		--nav-font-weight: 400;
		--category-button-font-weight: 700;
		--submit-button-font-weight: 700;

		/* Familles de polices */
		--main-font-family: 'Work Sans';
		--h1-font-family: 'Syne';
		--h2-font-family: 'Syne';
		--category-button-font-family: 'Syne';
		--submit-button-font-family: 'Syne';

		/* Autres */
		--max-width: 1140px;
		--box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	}





/*    																												   */
/* ################################################################################################################### */
/* ####################################################### RESET CSS ################################################# */
/* ################################################################################################################### */

	* {
		background: var(--background-color);
	}

	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed,
	figure, figcaption, footer, header, hgroup,
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	/* HTML5 display-role reset for older browsers */

	article, aside, details, figcaption, figure,
	footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
		margin: 0 auto;
	}

	a {
		text-decoration: none;
		color: inherit;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

/*    																												   */
/* ################################################################################################################### */
/* ################################################## END RESET CSS ################################################## */
/* ################################################################################################################### */



/* ################################################################################################################### */
/* ######################################### Définition des styles de base ########################################### */
/* ################################################################################################################### */

	body {
		max-width: var(--max-width);
		font-family: var(--main-font-family);
		font-size: var(--main-font-size);
		background: var(--background-color);
		margin: auto;
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}

	main {
		padding: 0 8em;
		flex: 1 0 auto;
	}

	.header {
		display: flex;
		justify-content: space-between;
		margin: 3.5em 0;
	}

	section {
		margin: 4em 0;
	}

	h1 {
		display: flex;
		flex-direction: column;
		font-family: var(--h1-font-family);
		font-size: var(--h1-font-size);
		font-weight: var(--h1-font-weight);
		color: var(--main-color);
	}

	.header__subtitle {
		font-family: var(--main-font-family);
		font-size: 10px;
		letter-spacing: 0.1em;
		margin-top: 0.3em;
	}

	h2 {
		font-family: var(--h2-font-family);
		font-weight: var(--h2-font-weight);
		font-size: var(--h2-font-size);
		color: var(--secondary-color);
	}

	.form__label {
		color: var(--text-color);
		font-family: var(--main-font-family);
		font-size: var(--main-font-size);
		font-style: normal;
		font-weight: var(--label-weight);
		line-height: normal;
		margin: 2em 0 1em 0;
	}

	.portfolio__title {
		text-align: center;
		margin: 3.25em 0 1.1em 0;
	}


/*    																												  */
/* ################################################################################################################## */
/* ################################### Définition des styles de menu de navigation ################################## */
/* ################################################################################################################## */

	.nav-list {
		display: flex;
		flex-direction: row;
		align-items: center;
		list-style-type: none;
	}

	.nav-list__item {
		padding: 0 1.35em;
		font-size: var(--nav-font-size);
	}

	.nav-list__item--img {
		width: 1.4em;	
		margin-top: 0.1em;
	}

	li:hover {
		color: var(--main-color);
	}

/*    																												   */
/* ################################################################################################################### */
/* ################################ Définition des styles du paragraphe d'introduction ############################### */
/* ################################################################################################################### */

	.introduction {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 6em 0;
		
	}

	.introduction__figure {
		flex: 1
	}

	.introduction img {
		display: block;
		width: 105%;
	}

	.introduction__article {
		flex: 1;
		margin-left: 7em;
	}

	.introduction__title {
		margin-bottom: 1em;
	}

	.introduction__paragraph {
		color: var(--text-color);
		line-height: 1.2;
		margin: 1em auto;
	}



/*    																												   */
/* ################################################################################################################### */
/* ###################################### Définition des styles de la gallerie ####################################### */
/* ################################################################################################################### */

	.categories {
		text-align: center;
		margin-bottom: 2em;
	}

	.categories button {
		background-color: var(--button-background-color);
		color: var(--button-color);
		min-width: 6em;
		border: 1px solid var(--button-border-color);
		border-radius: 14em;
		padding: 0.6em 1em;
		margin: 1.5em 0.4em;
		font-family: var(--category-button-font-family);
		font-weight: var(--category-button-font-weight);
		font-size: var(--category-button-font-size);
	}

	.categories button.selected {
		background-color: var(--selected-button-background);
		color: var(--selected-button-color);
	}

	.gallery {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 1.5em;
		grid-row-gap: 1.5em;
	}

	.gallery img {
		width: 100%;
	}

	.gallery figcaption {
		color: var(--text-color);
	}
	


/*    																												   */
/* ################################################################################################################### */
/* ################################### Définition des styles de la section contact ################################### */
/* ################################################################################################################### */

	.contact {
		width: 50%;
		margin: auto;
		text-align: center;
	}

	.contact__title{
		margin-bottom: 0.65em;
	}

	.contact__form {
		text-align: left;
		margin-top: 2.15em;
		display: flex;
		flex-direction: column;
	}

	.contact__form--label {
		margin-left: 2em;
	}

	.contact__paragraph {
		color: var(--text-color);	
	}

	.contact__form--input:not([type="submit"])  {
		height: 3em;
		width: 22.5em;
		margin: auto;
		padding: 0 1em;
		font-size: 1.2em;
		border: none;
		box-shadow: var(--box-shadow);
		background-color: white;
	}

	.contact__form--textaera {
		border: none;
		box-shadow: var(--box-shadow);
		max-width: var(--max-width);
		font-family: var(--main-font-family);
		font-size: 1.2em;
		padding: 1em 0.5em 0 0.2em;
		width: 23.3em;
		height: 9em;
		margin: auto;
		background-color: white;
	}

	.contact__form--submit {
		padding: 0.65em 4em;
	}

	.contact__form--submit, .login__form--submit {
		flex-shrink: 0;
		margin: 2em auto;
		background-color: var(--submit-button-background-color);
		border-radius: 60px;
		color: var(--submit-button-color);
		font-family: var(--submit-button-font-family);
		font-size: var(--submit-button-font-size);
		font-weight: var(--submit-button-font-weight);
		font-style: normal;
		line-height: normal;
		text-align: center;
		box-shadow: none;
		border: none;
	}




/*    																												   */
/* ################################################################################################################### */
/* ################################# Définition des styles du formulaire de connexion ################################ */
/* ################################################################################################################### */

	.login {
		display: flex;
		align-items: center;
		flex-direction: column;
		width: 50%;
		margin: 9.25em auto;
	}

	.login {
		text-align: center;
	}

	.login__title {
		margin-bottom: 0.75em;
	}

	.login__form {
		text-align: left;
		margin-top: 30px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.nav-list__item--active {
		color: #000;
		text-align: center;
		font-family: Work Sans;
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}

	.login__form--fields {
		display: flex;
		flex-direction: column;
	}

	.login__form--input {
		width: 22.5em;
		padding: 0.9em 0.6em;
		font-size: 1.2em;
		border: none;
		box-shadow: var(--box-shadow);
		background-color: white;
	}

	.login__form--forgotten-password-link {
		text-align: center;
		color: var(--text-color);
		font-family: Work Sans;
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		text-decoration-line: underline;
	}

	.login__form--submit {
		padding: 0.65em 2.5em;
	}


/*    																												   */
/* ################################################################################################################### */
/* ###################################### Définition des styles du pied de page ###################################### */
/* ################################################################################################################### */

	.footer__nav-list {
		display: flex;
		justify-content: flex-end;
	}

	.footer__nav-item {
		color: var(--footer-color);
		font-family: var(--main-font-family);
		font-size: var(--main-font-size);
		font-style: normal;
		font-weight: var(--footer-weight);
		line-height: normal;
	    margin-top: 4em;
		margin-bottom: 1em;
		transform: translateX(4em);
	}



/*    																												   */
/* ################################################################################################################### */
/* ####### Désactivation de l'affichage des titres qui sont des élements obligatoires selon les normes du W3C ######## */
/* ######################## et d'accessibilité mais qui ne sont pas conformes à la maquette ########################## */
/* ################################################################################################################### */

	.hidden-title {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0,0,0,0);
		border: 0;
	}




/*    																												   */
/* ################################################################################################################### */
/* ##################### Définition des styles de la page en mode édition (utiliusateur connecté ##################### */
/* ################################################################################################################### */

	.edit-bar {
		display: flex;
		margin: 0;
		width: 100vw;
		height: 59px;
		flex-shrink: 0;
		background-color: #000;
		position: fixed;
		top: 0;
		left: 0;	
		justify-content: center; 
		align-items: center; 
	}

	.edit-bar__icon {
		background-color: #000;
		width: 15.58px;
		margin-right: 1em;

	}

	.edit-bar__title {
		background-color: #000;
		color: white;
		text-align: center;
		font-family: Work Sans;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		display: flex;
		align-items: auto;
	}

	.header.logged {
		display: flex;
		flex-direction: column;
	}

	.header-block.logged {
		margin-top: 59px;
		display: flex;
		justify-content: space-between;
	  }
	  
	.portfolio__title--section.logged {
		display: flex;
		flex-direction: row;
		justify-content: center;
		justify-content: center;
		align-items: center;
		margin-bottom: 4.5em;
	  }

	.modifier-link__content.logged {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-end;
	padding-top: 4.5em;
	padding-left: 1.5em;
	}

	.modifier-link__content--title {
	margin-left: 0.35em;
	align-items: flex-end;
	}

	.modifier-link__content--icon {
	color: #000;
	}


	.guest {
display: flex;
flex-direction: row;	
}
	
	.hidden {
		display: none;
	}

	.visible {
		display: inherit;
	}